.user-management {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.user-management__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-logout {
  background-color: #20dfd8;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 6px 12px;
  font-weight: 500;
  transition: 0.3s ease;
  display: flex;
  column-gap: 8px;
  align-items: center;
}
.btn-logout:hover {
  background-color: #17c4c1;
}

/* Filter + New User */
.user-management__controls {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.btn-filter,
.btn-add-user {
  width: 140px;
  background-color: #20dfd8;
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.btn-text {
  white-space: nowrap;
}
.btn-icon {
  flex-shrink: 0;
  font-size: 0.9rem;
}
.btn-filter i,
.btn-add-user i {
  font-size: 0.9rem;
}
.btn-add-user {
   width: 120px;
}
/* Search */
.search-box {
  position: relative;
  width: 300px;
  margin-left: auto;
}

.search-box input {
  width: 100%;
  padding: 10px 40px 10px 16px; /* chừa chỗ bên phải cho icon */
  border: 2px solid #d6ecff;
  border-radius: 50px;
  outline: none;
  font-size: 16px;
}

.search-box i {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  font-size: 18px;
  cursor: pointer;
}
.search-bar input {
  height: 40px;
}

.search-bar i {
  font-size: 18px;
  cursor: pointer;
}
.table-responsive {
  overflow-x: auto;
}
table {
  table-layout: fixed;
  width: 100%;
  padding: 0;
}
.table th, .table td {
    vertical-align: middle;
    border: 1px solid #CEE9D8;
}
.table thead {
    background-color: #c7eed8;
}
.action-icons i {
    cursor: pointer;
    margin: 0 7px;
}
.dropdown-menu {
    width: 140px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    margin-left: 10px;
}
.dropdown-item {
    padding: 10px 20px;
    font-size: 15px;
    transition: background-color 0.2s ease, color 0.2s ease;
    border-bottom: 1px solid #e0e0e0;
}
.dropdown-item:last-child {
    border-bottom: none;
}
.dropdown-item:hover {
    background-color: #f0f0f0;
    color: #007bff;
}