.header {
  height: 110px;
}

.header__title {
  display: flex;
  column-gap: 20px;
  text-decoration: none;
  color: #7fbe5d;
  font-size: 40px;
  font-weight: 700;
}

.header__btn-signup {
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 54px;
  background-color: #7fbe5d;
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.header__btn-signup:hover {
  background-color: #6aa64e;
  color: white;
}

.content {
  gap: 50px;
  margin-top: 50px;
}

.content__left {
  gap: 30px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.content_description {
  line-height: 35px;
}

.content img {
  max-width: 100%;
  height: auto;
}

