.container {
    max-width: 1440px;
}
.header {
    height: 100px;
    background-color: #7FBE5D;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-small {
    margin: 0 auto;
    padding: 0 35px;
}
.logo-name {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.nav-pills {
  display: flex;
  align-items: center;
  margin-left: 0; 
}
.nav-pills a {
    color: white;
    font-size: 20px;
}

.logo-brand, .icon {
    display: flex;
    column-gap: 20px;
}
.icon i {
    font-size: 35px;
    color: white;
}
.icon:hover {
    cursor: pointer;
}