/* Welcome */
.welcome__header {
  height: 110px;
}

.header__title {
  display: flex;
  column-gap: 20px;
  text-decoration: none;
  color: var(--primary);
  font-size: 40px;
  font-weight: 700;
}

.header__btn-signup {
  background-color: var(--primary);
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 54px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  text-align: center;
  line-height: 54px;
}

.header__btn-signup:hover {
  background-color: var(--primary);
  color: white;
}

/* Student */
.container {
  justify-content: space-between;
}
.student__header {
  height: 90px;
  width: 100%;
  padding: 0 50px;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-name {
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.nav-pills {
  display: flex;
  align-items: center;
  margin-left: 0;
}
.nav-pills a {
  color: white;
  font-size: 20px;
  padding: 0 20px;
}

.logo-brand,
.icon {
  display: flex;
}

.icon {
  column-gap: 20px;
}

.icon i {
  font-size: 35px;
  color: white;
}

.icon:hover {
  cursor: pointer;
}

.account {
  position: relative;
}

.dropdown-menu {
  min-width: 90px;
  left: -10px !important;
  padding: 0;
}

.dropdown-menu a {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  padding: 5px 15px;
  cursor: pointer;
  color: #333;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}

.dropdown-menu a:active {
  background-color: var(--bg-color-primary);
  color: var(--light);
}
